@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

:root {
    /* Colors */
    --color-primary: #011559;
    --color-secondary: #012578;
    --color-tertiary: #023ea0;
    --color-quaternary: #39A9F1;
    --color-quinary: #0EC6CB;
    --color-black: #000000;

    /* Breakpoints */
    --breakpoint-xs: 575px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

:root {
    /* Colors */
    --color-primary: #011559;
    --color-secondary: #012578;
    --color-tertiary: #023ea0;
    --color-quaternary: #39A9F1;
    --color-quinary: #0EC6CB;
    --color-black: #000000;

    /* Breakpoints */
    --breakpoint-xs: 575px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}

a {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: radial-gradient(#011559, #39A9F1); */
    background: radial-gradient(#011559, #000f30);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 280px;
    position: relative;
}

/* body.modal-open-height {
  height: calc(100vh + 300px);
} */
body:not(.modal-open-height) {
    height: auto;
}

.body-dark {
    /* background-color: rgb(0, 0, 0); */
    color: var(--color-quinary);
    background: radial-gradient(#020f39, #070c0f);

}

.body-dark footer {
    border-top: 2px solid var(--color-quinary);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}

.field input::placeholder {
    text-align: right;
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.302);
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.main-form input {
    background-color: rgba(255, 255, 255, 0.802);
}

.main-form-dark {
    background-color: transparent;
    color: white;
    border: 1px solid var(--color-quinary);
}

.main-form-dark input {
    border: 1px solid var(--color-quinary) !important;
    background-color: transparent;
    color: white;
}

.main-form-dark .field label {
    color: white;
}


.input-group {
    flex-basis: 100%;
}

.taxas-group input {
    margin-bottom: 200px;
}

.input-group h3 {
    margin-bottom: 25px;
}

.souabrasel {
    color: var(--mostarda)
}

.souabrasel label {
    color: var(--mostarda) !important
}

.naosouabrasel {
    color: var(--cinza-escuro) !important
}

.naosouabrasel label {
    color: var(--cinza-escuro) !important
}

.main-form-dark .naosouabrasel {
    color: var(--cinza-claro2) !important
}


.faturamento,
.bandeiras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    gap: 1px;
}

.field {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 65px;
    width: 100%;
    margin-top: 5px;
    gap: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;

}

h4 {
    flex-basis: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.field label {
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease-out;
    color: var(--color-primary) !important;

}

.field input::placeholder {
    text-align: right;
}

.field-dark label {
    color: var(--color-quinary) !important;
}

input {
    text-align: right;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
}

.field label {
    top: 50%;
    left: 20px;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease-out;
    position: absolute;
    top: 30%;
    left: 10px;
    color: var(--color-quinary);
}

.field input::placeholder {
    text-align: right;
}

.field:focus-within label,
.field input:valid~label {
    top: -12px;
    background: transparent;
}

.field-dark:focus-within label,
.field-dark input:valid~label {
    top: -12px;
    background: transparent;
    color: var(--color-quinary);
}


.field input:focus,
.field input:valid {
    outline: none;
    border: 1px solid var(--color-quinary);
}

/* RESULTADO */

#result.hidden {
    display: none;
}

#result {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 30px;
}

#result span {
    font-weight: 600;
    font-size: 20px;
    margin-top: 29px;

}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results p,
#TotalVA,
#TotalV {
    color: white;
}

.result-dark p {
    color: var(--color-quinary) !important
}


.results p {
    font-weight: 600px;
    columns: red;
}

/* MODAL */
#fade,
#modal {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}


#fechar-modal {
    background-color: grey;
}

#fechar-modal:hover {
    background-color: grey;
    opacity: 1;
    transform: 200ms all ease;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

body.modal-open {
    height: auto;
    overflow: scroll;
}

#modal {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #fff;
    padding: 20px;
    z-index: 9999;
    height: auto;
    width: 76%;
    padding: 1.2rem;
    border-radius: .5rem;
    margin-top: 80px;
    margin-bottom: 80px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    color: var(--color-primary);
}


.modal-dark {
    color: var(--color-quinary) !important;
    background-color: black !important;
    border: 1px solid white;
}

.modal-header-dark {
    color: var(--color-quinary) !important;
    background-color: black !important;
}

#modal.hidden,
#fade.hidden {
    opacity: 0;
    pointer-events: none;
}

#modal.hidden {
    top: 0;
}

#modal p {
    color: var(--color-primary);
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    width: 100%;
    background-color: #eeecec;
    border-radius: 10px;
}


.modal-form table {
    text-align: left;
    width: 100%;
    /* border-collapse: collapse; */
    border-spacing: 0;
    margin-bottom: 20px;
    /* adjust the spacing as needed */
}

table th,
table td {
    padding: 10px;
    /* adjust the padding as needed */
    font-weight: 400;
}


tr {
    border-right: 1px solid rgb(230, 227, 227);
    border-left: 1px solid rgb(230, 227, 227);
    color: var(--color-secondary);
    font-weight: 600;
}

.geral {
    color: #6a6d6c;
    font-weight: 600;
}

.souabrasel {
    font-weight: 600;
}

.modal-dark .geral {
    font-weight: 600;
    color: #ffffff !important;
}

.modal-dark .souabrasel {
    font-weight: 600;
    color: #ffffff !important;
}

.modal-form table tr {
    border-top: 3px solid #ccc;
}

.modal-subtitle {
    font-weight: 600;
    color: var(--color-primary);
}

.displaynone {
    display: none;
}


.modal-form-dark p {
    background-color: black !important;
    border: 1px solid white;
    /* color: var(--color-quinary) !important; */
    color: white !important;
}

.modal-form-dark .modal-subtitle {
    color: white !important;
}

.modal-form-dark th {
    color: rgb(47, 221, 76) !important;
}

.modal-form-dark td {
    color: rgb(36, 169, 58) !important;
}

.fechar-modal-dark {
    background-color: #000 !important;
    color: var(--color-quinary);
    border: 1px solid var(--color-quinary);
}

.fechar-modal-dark:hover {
    color: #ffffff !important;
    border: 1px solid white;
    transition: all 300ms ease-in-out;
}

.result-dark {
    color: var(--color-quinary) !important;
}


/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    background-color: black;
    width: 100%;
    padding-bottom: 50px;
}

.header-calc-dark footer {
    border-top: 2px solid var(--color-quinary);
}


.header-calc-dark footer {
    border-top: 2px solid var(--color-quinary);
}

footer {
    height: 230px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: none;
    padding-bottom: 50px;
}

.logo-footer {
    width: 300px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.logo-footer img {
    width: 300px;
    cursor: pointer;
}

.social-icons a i {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.social-icons a i:hover {
    color: #ccc;
    transition: all 200ms ease-in-out;
}

.show-footer {
    display: flex;
    position: absolute;
    bottom: 0;
}


@media (min-width: 800px) {
    /* body.modal-open {
    height: 370vh;
  } */

    /* body {
    min-height: 180vh;
  } */
}

@media (max-width: 800px) {
    #result span {
        margin-top: 29px;
        width: 150px;
    }

    /* body.modal-open {
    height: 400vh;
  } */

    /* body {
    min-height: 180vh;
  } */
}


@media (max-width: 700px) {


    /* body.modal-open {
    height: 430vh;
    overflow: scroll;
  } */

    #result {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
        align-items: flex-start;
        justify-content: space-around;
        line-height: 40px;
    }

    .results {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    #result span,
    #TotalV,
    #TotalVA {
        margin-bottom: 20px;

    }
}

@media (max-width: 600px) {
    /* body {
    min-height: auto;
  } */

    /* body.modal-open {
    height: 430vh;
    overflow: scroll;
  } */

    .modal-form {
        font-size: 15px;
    }

    table {

        border: 1px solid rgb(237, 231, 231);
    }

    th,
    td {
        border: 1px solid rgb(237, 231, 231);
        font-size: 11px;
    }

    .bandeiras {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    #result span {
        font-weight: 600;
        font-size: 16px;
        width: 120px;
        margin-top: 29px;
    }

    #result {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 15px;
    }

    #TotalV,
    #TotalVA {
        font-size: 14px;
    }

    #detalhar-btn {
        height: auto;
        font-size: 12px;
        padding: 6px;
        border-radius: 8px;
    }

    .header-calc {
        font-size: 14px;
    }

}


@media (max-width: 480px) {
    /* body {
    min-height: 215vh;
  } */

    /* body.modal-open {
    height: 390vh;
    overflow: scroll;
  } */

    .modal-form {
        font-size: 11px;

    }

    table {
        border: 1px solid rgb(237, 231, 231);
    }

    table th,
    table td {
        border: 1px solid rgb(237, 231, 231);
        font-size: 9px;
        padding: 6px;
    }
}



@media (max-width: 388px) {
    /* body {
    min-height: 230vh;
  } */

    /* body.modal-open {
    height: 400vh;
    overflow: scroll;
  } */

    .modal-form {
        font-size: 10px;
        overflow: scroll;

    }

    #modal form table {
        border: 1px solid rgb(237, 231, 231);

    }

    #result {
        font-size: 12px;
    }

    #result span {
        font-size: 12px;
        width: 80px;
    }

    #detalhar-btn {
        font-size: 10px;
        padding: 0;
    }

    table th,
    table td {
        font-size: 8px;
        padding: 3px;
    }
}

table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    width: auto;
    padding: 10px;
}

.bandeira-hidden {
    display: none;
}

/* HEADER */
.header-calc {
    margin-top: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.logo-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 220px;
}

.logo-header-dark {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 220px;
}

.displaynone {
    display: none;
}

.logo-header img {
    height: 370px;
    width: auto;
    padding: 20px;
}

.logo-header-dark img {
    height: 370px;
    width: auto;
    padding: 20px;
}


/* BOTOES */
button {
    background-color: var(--color-secondary);
    /* default button color */
    color: #fff;
    /* default text color */
    padding: 10px 20px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.5s ease;
    /* transition effect for background-color */
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}

button:hover {
    background-color: var(--color-quaternary);
}

.button-dark {
    background-color: var(--color-quinary);
}

.button-dark:hover {
    background-color: var(--color-quaternary);
}


#calcular {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.calcular-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detalhar-btn {
    height: 40px;

}

#fechar-modal:hover {
    background-color: rgb(168, 162, 162);
    transition: 200ms all ease;
}

@media (max-width: 600px) {}

@media (max-width: 400px) {
    .header-calc {
        font-size: 11px;
    }

    #detalhar-btn {
        height: auto;
        font-size: 14px;
        padding: 4px;
        border-radius: 8px;
    }

    .social-icons a i {
        font-size: 14px;
    }

    .logo-footer img {
        width: 120px;
        cursor: pointer;
    }

    .logo-header img {
        height: 130px;
        width: auto;
        padding: 30px;
    }


}

@media (min-width: 800px) {
    .toggle-label {
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .toggle-label .toggle-wrapper {
        min-width: 47px;
        min-height: 24px;
    }

    .toggle-label .toggle-wrapper .selector {
        min-width: 21px;
        min-height: 21px;
        position: absolute;
        top: 50%;
        left: 23px;
    }

    .toggle-label .input:checked+.toggle-wrapper>.selector {
        left: calc(100% - 44px);
        background-color: var(--color-quinary);
    }
}

@media (max-width: 600px) {

    .field {
        width: 100%;
    }

    input {
        min-width: 90%;
        font-size: 14px;
    }

    .modal-form {
        font-size: 15px;
    }

    table {
        border: 1px solid rgb(237, 231, 231);
    }

    th,
    td {
        border: 1px solid rgb(237, 231, 231);
    }

    .bandeiras {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .results {
        font-size: 13px;
    }

    #TotalV,
    #TotalVA {
        font-size: 14px;
    }

    .header-calc {
        font-size: 14px;
    }

}

@media (max-width: 400px) {
    input {
        max-width: 200px;
        font-size: 14px;
    }

    .modal-form {
        font-size: 11px;
    }

    table {
        border: 1px solid rgb(237, 231, 231);
    }

    th,
    td {
        border: 1px solid rgb(237, 231, 231);
    }

    .header-calc {
        font-size: 11px;
    }

    #calcular {
        height: auto;
        font-size: 14px;
        padding: 4px;
        border-radius: 8px;
    }

    .social-icons a i {
        font-size: 14px;
    }

    .logo-footer img {
        width: 120px;
        cursor: pointer;
    }
}

@media (max-width: 370px) {
    .modal-form {
        font-size: 10px;
        overflow: scroll;
    }

    #modal form table {
        border: 1px solid rgb(237, 231, 231);
    }

    #result {
        font-size: 12px;
    }

    #result span {
        font-size: 12px;
        width: 80px;
    }

    #detalhar-btn {
        font-size: 10px;
        padding: 0;
    }

    th,
    td {
        border: 1px solid rgb(237, 231, 231);
    }
}


@media (max-width: 350px) {

    table th,
    table td {
        font-size: 6px;
    }
}

/* BOTAO DE SWITCH */
.toggle-label {
    pointer-events: none;
}

.toggle-label .input {
    display: none;
}

.toggle-label .toggle-wrapper {
    position: relative;
    width: 35px;
    height: 18px;
    background: radial-gradient(closest-side, rgb(249, 249, 249), rgb(233, 228, 228));
    border-radius: 999px;
    margin: auto;
    cursor: pointer;
    pointer-events: all;
}

.toggle-label .input:checked+.toggle-wrapper {
    background: black;
    /* background: radial-gradient(closest-side, rgb(0, 0, 0), rgb(39, 38, 38)); */
    border: 1px solid var(--color-quinary);
}

.toggle-label .toggle-wrapper .selector {
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
    background-color: var(--color-quaternary);
    transition: all 0.55s ease;
    border-radius: 50%;
}

.toggle-label .notification {
    font-size: 20px;
    width: 100%;
}

.toggle-label .notification .selected:before {
    content: "No";
    font-size: 20px;
    border-bottom: 2px solid;
}